.homebody{
    padding: 3%;
    padding-top:2.5%;
}

.expiry{
    display: flex;
    align-items: center; 
    margin-top: 2%;
}

.copy-button{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}